<!doctype html>
<html lang="fr">
  <head>
    <title> Recherche  d'Artiste par Rôle </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='{{url_for('static',filename='css/log.css')}}'
    
  </head>
  
  
 
 
 <!--Mettre l'image en arrière plan --> 
   <body class="img js-fullheight" background="{{ url_for('static', filename='img/art.jpeg') }}" > 
   


<form role="search" action="{{url_for('results_art_par_role')}}" method="POST">

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Recherche d'artiste par un rôle qu'il a joué :</h2>
          </div>
        </div>
        
        
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center"></h3>
              <form action="#" class="signin-form">
               

                
                <div class="form-group"><input type="text" class="form-control" name="rech_role" placeholder="Saisir le rôle joué par l'artiste recherché :" required></div>
                <div class="form-group"><button type="submit" class="form-control btn btn-primary submit px-3">Valider</button></div>
   
               
    </section>
    
    
    <script src="/static/js/j1.js"></script>
    <script src="/static/js/j2.js"></script>
    <script src="/static/js/j3.js"></script>
    <script src="/static/js/j4.js"></script>
  </body>
</html>
